<h3 class="first">Recent Records</h3>

<table
  *ngIf="records.length > 0"
  class="table"
  class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>dateTime</th>
      <th>duration</th>
      <th>no of dataSamples</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records" >
      <th scope="row">
        <a routerLink="{{'/dashboard/record/'+record.id}}" >
          {{record.id}}
        </a>
      </th>
      <td>{{record.dateTime}}</td>
      <td>{{record.duration}}</td>
      <td>{{recordsDataSamplesCount[record.id]}}</td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="records.length == 0">
  <h3>no records found</h3>
</div>
