<div class="login-page animate">
	<div class="row">
		<div class="col-md-4 offset-md-4">
        	<img src="./assets/images/flat-avatar.png" class="user-avatar" />
			<h1>Hohcs Bike <small>Admin Pannel</small></h1>
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email" [(ngModel)]="Email" name="Email" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" [(ngModel)]="Password" name="Password" required>
					</div>
				</div>
				<a class="btn rounded-btn"  (click)="login()" [hidden]="loading"> Log in </a>
			</form>
		</div>
	</div>
</div>
