<h3 class="first">Clients</h3>
<p-dataTable [value]="clients">
    <p-column field="id" header="id"></p-column>
    <p-column field="username" header="username"></p-column>
    <p-column field="email" header="email"></p-column>
</p-dataTable>

<!-- <p-column field="year" header="Year (contains)" [filter]="true" filterMatchMode="contains"></p-column>
<p-column field="brand" header="Brand (startsWith)" [filter]="true"></p-column>
<p-column field="color" header="Color (endsWith)" [filter]="true" -->
