

<input type="number" [(ngModel)]="duration" *ngIf="advanceUser" (ngModelChange)="onMinsValueChange($event)"/>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="first">
        Client - {{client.username||"downloading"}} Records
        <a class="btn btn-primary pull-right" routerLink="{{'/dashboard/client/'+client.id+'/edit'}}" >Edit</a>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div #qrCode></div>
    </div>
    <div class="col-8">
      <tabset>
        <tab heading="Remarks">
          <h4>Remarks:</h4>
          <div [innerHTML]="client.remarks || 'loading/ do not have any remarks'"></div>
        </tab>
        <tab [disabled]="!client.labeledDate">
          <template tabHeading>Labels</template>
          <div class="container">
            <div class="row labelContianer">
              <div class="col-12">
                <table style="width:100%">
                  <tr>
                    <th>Label Name</th>
                    <th>Value</th>
                  </tr>
                  <tr *ngFor="let label of LABELS; let i = index;">
                    <td>{{label}}</td>
                    <td>{{getLabelString(label)}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<table class="table" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>dateTime</th>
      <th>duration</th>
      <th>ip</th>
      <th>location</th>
      <th>deviceId</th>
      <th>delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records" >
      <th scope="row"><a routerLink="{{'/dashboard/record/'+record.id}}" >{{record.dateTime  | date: 'yMMMdjms'}}</a></th>
      <td>{{record.duration}}</td>
      <td>{{record.ip}}</td>
      <td>{{record.location}}</td>
      <td>{{record.deviceId}}</td>
      <td><a  class="btn btn-default btn-danger" (click)="deleteRecord(record)">delete</a></td>
    </tr>
  </tbody>
</table>
