<div class="container">
  <div class="row">
    <div class="col-12">
      <a class="btn btn-primary pull-right" routerLink="../" >Back</a>
      <h2>Edit Client  {{client.username||"downloading"}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Label in Client:</h4>
    </div>
    <div class="col-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Dementia:
          <p-triStateCheckbox
            (onChange)="onLabelChanges($event)"
            [(ngModel)]="client.Dementia"></p-triStateCheckbox>
        </li>
        <li class="list-group-item">
          <label>Stroke:</label>
          <p-triStateCheckbox
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [(ngModel)]="client.Stroke"></p-triStateCheckbox>
        </li>
        <li class="list-group-item">
          <label>Leg_Surgery:</label>
          <p-triStateCheckbox
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [(ngModel)]="client.Leg_Surgery"></p-triStateCheckbox>
        </li>
        <li class="list-group-item">
          <label>Hospitalization_Past_History:</label>
          <p-triStateCheckbox
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [(ngModel)]="client.Hospitalization_Past_History"></p-triStateCheckbox>
        </li>
        <li class="list-group-item">
          <label>Hospitalization_Recent_Event:</label>
          <p-triStateCheckbox
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [(ngModel)]="client.Hospitalization_Recent_Event"></p-triStateCheckbox>
        </li>
        <li class="list-group-item">
          <label>Hospitalization_No_Significant_History:</label>
          <p-triStateCheckbox
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [(ngModel)]="client.Hospitalization_No_Significant_History"></p-triStateCheckbox>
        </li>
        <li class="list-group-item">
          <label>Fall_Past_History:</label>
          <p-triStateCheckbox
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [(ngModel)]="client.Fall_Past_History"></p-triStateCheckbox>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label>Fall_No_Significant_History:</label>
          <p-triStateCheckbox
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [(ngModel)]="client.Fall_No_Significant_History"></p-triStateCheckbox>
        </li>
        <li class="list-group-item">
          <label>Fall_Recent_Event:</label>
          <p-triStateCheckbox
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [(ngModel)]="client.Fall_Recent_Event"></p-triStateCheckbox>
        </li>
        <li class="list-group-item">
          <label>Waking_ability:</label>
          <p-dropdown
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [options]="Waking_ability_options"
            [(ngModel)]="client.Waking_ability"></p-dropdown>
        </li>
        <li class="list-group-item">
          <label>Mobilize_From_Chair:</label>
          <p-dropdown
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [options]="Mobilize_From_Chair_options"
            [(ngModel)]="client.Mobilize_From_Chair"></p-dropdown>
        </li>
        <li class="list-group-item">
          <label>Hip:</label>
          <p-dropdown
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [options]="Hip_options"
            [(ngModel)]="client.Hip"></p-dropdown>
        </li>
        <li class="list-group-item">
          <label>Trunk:</label>
          <p-dropdown
            class="pull-right"
            (onChange)="onLabelChanges($event)"
            [options]="Trunk_options"
            [(ngModel)]="client.Trunk"></p-dropdown>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
  </div>
</div>

<h4>Remarks:</h4>
<quill-editor [(ngModel)]="editorContent"
      [config]="editorConfig"
      (ready)="onEditorCreated($event)"
      (change)="onContentChanged($event)"></quill-editor>
<div class="container">
  <div class="row">
    <button *ngIf="changed" class="btn btn-primary pull-right"  (click)="submitChanges()" >Submit Changes</button>
  </div>
</div>

<!--
<li class="list-group-item">
  Stroke:{{record.dateTime | date: 'dd-MM-yy HH:mm:ss z'}}
</li>
<li class="list-group-item">duration: {{ durationString}}</li>
<li class="list-group-item">ip: {{record.ip}}</li>
<li class="list-group-item">location: {{record.location}}</li>
<li class="list-group-item">deviceId: {{record.deviceId}}</li>
<li class="list-group-item">clientId: {{record.clientId}}</li>
-->
