<div>
  <h3>Stats.</h3>
  <h6>Number of steps: {{stats.total_steps}}</h6>
  <h6>Max steps/(10s): {{stats.steps_s}}</h6>

</div>

<div (mouseover)="onChartOver($event)">
  <chart [options]="options[0]" (load)="saveChart($event.context, 0)">
    <series (hide)="onSeriesHide($event.context)">
      <!-- <xAxis (setExtremes)="syncExtremes($event)"></xAxis> -->
    </series>
  </chart>
</div>
<div (mouseover)="onChartOver($event)">
  <chart [options]="options[1]" (load)="saveChart($event.context, 1)">
    <series (hide)="onSeriesHide($event.context)">
      <!-- <xAxis (afterSetExtremes)="syncExtremes($event)"></xAxis> -->
    </series>
  </chart>
</div>
<div (mouseover)="onChartOver($event)">
  <chart [options]="options[2]" (load)="saveChart($event.context, 2)">
    <series (hide)="onSeriesHide($event.context)">
      <!-- <xAxis (afterSetExtremes)="onAfterSetExtremesX($event)"></xAxis> -->
    </series>
  </chart>
</div>
<div (mouseover)="onChartOver($event)">
  <chart [options]="options[3]" (load)="saveChart($event.context, 3)">
    <series (hide)="onSeriesHide($event.context)">
      <!-- <xAxis (afterSetExtremes)="syncExtremes($event)"></xAxis> -->
    </series>
  </chart>
</div>
<div (mouseover)="onChartOver($event)">
  <chart [options]="options[4]" (load)="saveChart($event.context, 4)">
    <series (hide)="onSeriesHide($event.context)">
      <!-- <xAxis (afterSetExtremes)="syncExtremes($event)"></xAxis> -->
    </series>
  </chart>
</div>
