<h3 class="first">Client - {{(record.client)?record.client.username:"downloading"}}</h3>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      Record
      <a class="btn btn-primary pull-right" routerLink="{{'/dashboard/record/'+record.id+'/edit'}}" >Edit</a>
    </h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">id: {{record.id}}</li>
          <li class="list-group-item">dateTime:{{record.dateTime | date: 'dd-MM-yy HH:mm:ss z'}}</li>
          <li class="list-group-item">duration: {{ durationString}}</li>
          <li class="list-group-item">ip: {{record.ip}}</li>
          <li class="list-group-item">location: {{record.location}}</li>
          <li class="list-group-item">deviceId: {{record.deviceId}}</li>
          <li class="list-group-item">clientId: {{record.clientId}}</li>
        </ul>
      </div>
      <div class="col">
        <h4>Remarks:</h4>
        <div [innerHTML]="record.remarks || 'loading'"></div>
      </div>
    </div>
  </div>
</div>

<p-panel header="Labels" [toggleable]="true">
  <table style="width:100%">
    <tr>
      <th>Label Name</th>
      <th>Value</th>
    </tr>
    <tr *ngFor="let label of LABELS; let i = index;">
      <td>{{label}}</td>
      <td>{{getLabelString(label)}}</td>
    </tr>
  </table>
</p-panel>

<div class="card">
  <RecordCharts [dataStr]="this.dataStr"></RecordCharts>
</div>
