<h3 class="first">Client - {{(record.client)?record.client.username:"downloading"}}</h3>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Record</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">id: {{record.id}}</li>
    <li class="list-group-item">dateTime:{{record.dateTime | date: 'dd-MM-yy HH:mm:ss z'}}</li>
    <li class="list-group-item">duration: {{record.duration}}</li>
    <li class="list-group-item">ip: {{record.ip}}</li>
    <li class="list-group-item">location: {{record.location}}</li>
    <li class="list-group-item">deviceId: {{record.deviceId}}</li>
    <li class="list-group-item">clientId: {{record.clientId}}</li>
    <li class="list-group-item">number dataSamples: {{(dataSamplesCount == -1)?"downloading":dataSamplesCount}}</li>
  </ul>
</div>
<div class="card">
  <RecordCharts [dataStr]="this.dataStr"></RecordCharts>
</div>
<div  class="card">
  <h4 class="card-title">Sensor rawData</h4>
  <ul class="nav nav-tabs">
    <li
      class="nav-item"
      *ngFor="let d of sensorEnable; let i = index; ">
      <a
        [class.selected] = "d"
        class="nav-link"
        (click)="toggleSensor(i)" >Sensor {{i+1}}</a>
    </li>
  </ul>

  <nav class="nav nav-inline">
  </nav>
  <chart [type]="type" [data]="data" [options]="options"></chart>
</div>


<div  class="card">
  <h4 class="card-title">Sensor cal</h4>
  <ul class="nav nav-tabs">
    <li
      class="nav-item"
      *ngFor="let option of calDataOption; let i = index; ">
      <a
        [class.selected] = "option.enable"
        class="nav-link"
        (click)="chooseCalResult(i)" >{{option.name}}</a>
    </li>
  </ul>

  <nav class="nav nav-inline">
  </nav>
  <chart
    #calDataGraph
    [type]="type"
    [data]="calData"
    [options]="options"></chart>
</div>

<table class="table" class="table table-striped" *ngIf="showRawData">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>dateTime</th>
      <th>sensorType</th>
      <th>bleAddress</th>
      <th>value</th>
      <th>sensorId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataSample of dataSamples" >
      <td scope="row">{{dataSample.id}}</td>
      <td>{{dataSample.dateTime}}</td>
      <td>{{dataSample.sensorType}}</td>
      <td>{{dataSample.bleAddress}}</td>
      <td>{{dataSample.value}}</td>
      <td>{{dataSample.sensorId}}</td>
    </tr>
  </tbody>
</table>
